.bd-container{
    width: 375px;
    height: 648px;
    top: 667px;
    background: #EEBECE;
    margin: auto;
}

.bd-container .body{
    width: 311px;
    height: 168px;
    left: 32px;
    top: 888px;
}

.bd-container .body .bd-text-1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.571429px;
    padding-top: 221px;
    padding-left: 32px;

}

.bd-container .body .bd-text-2{
    font-family: 'WorkSans';
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}

.bd-container .img-1{
    padding-top: 10px;
}

.bd-container .img-1 img{
    padding-top: 20px;
    padding-left: 280px;
    width: 95px;
    height: 158px;
}