.container{
    background-color: #FFFFFF;
    width: 375px;
    height: 67px;
    box-sizing: content-box;
    margin: auto;
}

.container .navbar img{
    width: 33px;
    height: 33px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 24px;
}

h1{
    color: black;
}
